
.content {
    margin-top: 2%;
}

.wrapper{
    width: 80%;
    margin: auto;
}

header img {
    width: 60px;
    
    float: left;
}

header h1 {
    margin-left: 5%;
}

nav {
    clear: both;
}

nav ul {
    margin-top: 5%;
}

section{
    margin-top: 2%;
}

footer{
    margin: 3%;
    text-align: center;
}

section p {
    margin-top: 2%;
}

ol li{
    background-color: aqua;
}
#paragraf1 {
    font-family: 'Courier New', Courier, monospace;
    background-color: cornsilk;
}
.paragraf {
    font-size: 1.5rem;
}
.warna {
    background-color: chocolate;
}
.bentuk {
    font-style: italic;
}
.huruf-tebal {
    font-style: oblique;
}
tr{
    background-color: paleturquoise;
}
a {
    text-decoration: none;
}
ul{
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    background-color: orange;
    margin: 0;
    padding: 1;
}
ul li{
    color: #fff;
    background-color: darkorange;
    display: inline-block;
    border: 1px blue;
    padding: 10px;
    position: relative;
    text-decoration: none;
    
}
ul li a {
    color: #fff;
}
ul li:hover {
    background: red;
    cursor: pointer;
}
ul li ul {
    background: orange;
    visibility: hidden;
    position: absolute;
    margin-top: 0.5rem;
    left: 0;
    display: none;
}
ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    display: block;
}
ul li ul li {
    clear: both;
    width: 100%;
}